body{
    text-align: center;
    color: #757575;
}

.ColorList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 160px 20px 160px;
}

.MiniList{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.test{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
}