body {
    padding: 20px;
    font: normal 14px/1.2 Arial, sans-serif; 
}

.hidden {
    display: none !important;
}

.wrapper {
    overflow: hidden;
}


/**************/
/* Names list */
.names {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
    float: left;
    margin-right: 2px;
}
.names li {
    background: #00BCD4;
    margin: 0 0 1px 0;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
}

/***************/
/* Scores list */
.scores {
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 30px;
}
.scores li {
    margin: 0 0 1px 0;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    display: block;
    background: #727272;
    text-align: center;
}
.scores span {
    pointer-events: none;
}
.score-input {
    width: 20px;
    height: 9px;
    text-align: center;
    margin: 0 auto;
}

/***********/
/* Profile */
.profile {
    float: left;
    width: 200px;
    background: #448AFF;
    padding: 0 10px;
    text-align: center;
}
.profile img {
    display: block;
    margin: 10px auto 10px; 
}
.profile h3 {
    margin: 0 0 10px;
}

.header{
    width: 402px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.names-header, .scores-header{
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(218, 218, 218);
    margin: 0 0 1px 0;
    color: #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.scores-header{
    width: 100px;
}

.names-header-buttons, .scores-header-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.names-header-buttons span, .scores-header-buttons span{
    cursor: pointer;
    color: #444141;
}






