$backgroundColor: #dcbb9a;
$briefColor: #fadcba;
$contentColor: #ffffff;
$mainColor: #893c00;
$fontColor: #000000;
$linkColor: #3d70a1;
$tableHeadBack: #e0e0e0;
$labelColor: #808080;
$tableBack: #ffffff;