$backgroundColor: rgba(198, 238, 252, 0.53);
$briefColor: #fff178;
$contentColor: #3b3b3b;
$mainColor: #fccd10;
$fontColor: #ffffff;
$linkColor: #f5c70f;
$tableHeadBack: #94a34e;
$tableBack: #677d01;
$labelColor: #f5c70f;


